@font-face {
     
    font-family: 'passionone'; 
    src: url('fontes/PassionOne-Bold.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
    
}
@font-face {
    font-family: 'Sriracha';
    src:url('fontes/Sriracha-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

    *{
        margin: 0px;
        padding: 0px;
    }

    html, body {
        min-height: 100vh;
    }

    header{
        background-color: black;
    }

    header > h1{
        color: white;
        font-family: 'passionone';
        text-align: center;
        padding-top: 70px;
        font-size: 20vh;
    }

    header > p{
        text-align: center;
        padding-bottom: 60px;
        color: white;
        font-size: 20px;
    }

    a{
        color: white;
        text-decoration: none;
        
    }
 
    a:hover{
        text-decoration: underline;
    }

    section{
        padding: 80px 0px 80px 20px;
        font-family: 'Sriracha';
        font-size: 4vh;
    }

    section.imagem{
        background-color: blueviolet;
        background-attachment: fixed;
        box-shadow:inset 2px 2px 13px rgba(0, 0, 0, 0.733);
    }

    section.texto{
        background-color: white;
    }

    section.imagem > p {
        background-color: rgba(0, 0, 0, 0.342);
        width: 400px;
        padding-left: 10px;
        color: white;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.548);
    }

    section#img01 {
        background-image: url('imagens/background001.jpg');
        background-position: right center;
        background-size: cover;
    }

    section#img02 {
        background-image: url('imagens/background002.jpg');
        background-position: left center;
        background-size: cover;
    }